:root {
	--background: oklch(0.9736 0.0519 104.9643);
	--foreground: oklch(0.2212 0.0347 20.218);
	--card: oklch(0.9364 0.0273 93.1105);
	--card-foreground: oklch(0.2212 0.0347 20.218);
	--popover: oklch(0.9736 0.0519 104.9643);
	--popover-foreground: oklch(0.2212 0.0347 20.218);
	--primary: oklch(0.4906 0.1224 22.6828);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.6711 0.0821 42.6423);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.9249 0 0);
	--muted-foreground: oklch(0.4676 0 0);
	--accent: oklch(0.8641 0.0565 80.23);
	--accent-foreground: oklch(0.2212 0.0347 20.218);
	--destructive: oklch(0.5771 0.2152 27.325);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8853 0 0);
	--input: oklch(0.8853 0 0);
	--ring: oklch(0.4906 0.1224 22.6828);
	--chart-1: oklch(0.4906 0.1224 22.6828);
	--chart-2: oklch(0.6711 0.0821 42.6423);
	--chart-3: oklch(0.8641 0.0565 80.23);
	--chart-4: oklch(0.9736 0.0519 104.9643);
	--chart-5: oklch(0.3784 0.0907 22.3847);
	--sidebar: oklch(0.4906 0.1224 22.6828);
	--sidebar-foreground: oklch(0.9736 0.0519 104.9643);
	--sidebar-primary: oklch(0.9736 0.0519 104.9643);
	--sidebar-primary-foreground: oklch(0.4906 0.1224 22.6828);
	--sidebar-accent: oklch(0.8641 0.0565 80.23);
	--sidebar-accent-foreground: oklch(0.4906 0.1224 22.6828);
	--sidebar-border: oklch(0.6711 0.0821 42.6423);
	--sidebar-ring: oklch(0.9736 0.0519 104.9643);
	--font-sans: ui-sans-serif, system-ui, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 0;
	--shadow-blur: 0;
	--shadow-spread: 0;
	--shadow-opacity: 0;
	--shadow-color: 0 0 0;
	--shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
	--shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
	--shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
	--shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
	--shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
	--shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
	--shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
	--shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
	--tracking-normal: normal;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2212 0.0347 20.218);
	--foreground: oklch(0.9736 0.0519 104.9643);
	--card: oklch(0.2755 0.0422 20.1326);
	--card-foreground: oklch(0.9736 0.0519 104.9643);
	--popover: oklch(0.2212 0.0347 20.218);
	--popover-foreground: oklch(0.9736 0.0519 104.9643);
	--primary: oklch(0.4906 0.1224 22.6828);
	--primary-foreground: oklch(0.9736 0.0519 104.9643);
	--secondary: oklch(0.6711 0.0821 42.6423);
	--secondary-foreground: oklch(0.9736 0.0519 104.9643);
	--muted: oklch(0.3395 0.0459 19.7226);
	--muted-foreground: oklch(0.7241 0.0247 17.7369);
	--accent: oklch(0.3784 0.0907 22.3847);
	--accent-foreground: oklch(0.9736 0.0519 104.9643);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3956 0.0439 19.2052);
	--input: oklch(0.3956 0.0439 19.2052);
	--ring: oklch(0.8641 0.0565 80.23);
	--chart-1: oklch(0.4906 0.1224 22.6828);
	--chart-2: oklch(0.6711 0.0821 42.6423);
	--chart-3: oklch(0.8641 0.0565 80.23);
	--chart-4: oklch(0.9736 0.0519 104.9643);
	--chart-5: oklch(0.7542 0.0767 66.224);
	--sidebar: oklch(0.1749 0.0245 19.8292);
	--sidebar-foreground: oklch(0.9736 0.0519 104.9643);
	--sidebar-primary: oklch(0.9736 0.0519 104.9643);
	--sidebar-primary-foreground: oklch(0.1749 0.0245 19.8292);
	--sidebar-accent: oklch(0.6711 0.0821 42.6423);
	--sidebar-accent-foreground: oklch(0.1749 0.0245 19.8292);
	--sidebar-border: oklch(0.2755 0.0422 20.1326);
	--sidebar-ring: oklch(0.9736 0.0519 104.9643);
	--font-sans: ui-sans-serif, system-ui, sans-serif;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 0;
	--shadow-blur: 0;
	--shadow-spread: 0;
	--shadow-opacity: 0;
	--shadow-color: 0 0 0;
	--shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
	--shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
	--shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
	--shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
	--shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
	--shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
	--shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
	--shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}
